@import '../../stylings/variables';


nav {
    text-align: center;
    margin-left: -4ch;
}
ul {
    list-style: none;
}
li {
    display: inline-block;
    text-align: center;
    a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: $dark-grey;
        font-family: $source-sans;
        font-size: 1.4em;
        font-weight: 600;
    }
    a:hover, .active {
        background-color: $dark-purple;
    }
}
