<footer>
    <div id="logo">
        <h3>Elystra University</h3>
    </div>
    <div id="contact">
        <h4>Kontakt</h4>
        <ul>
            <li>Hittepåvägen 15, 123 45 Ingenstans</li>
            <li><a href="mailto:">exempel&#64;eluniversity.se</a></li>
        </ul>
    </div>
    <div id="socials">
        <h4>Sociala medier</h4>
        <ul>
            <li><i class="fa-brands fa-facebook-f"></i> <span class="socialName">FACEBOOK</span></li>
            <li><i class="fa-brands fa-instagram"></i> <span class="socialName">INSTAGRAM</span></li>
            <li><i class="fa-brands fa-youtube"></i> <span class="socialName">YOUTUBE</span></li>
        </ul>
    </div>
</footer>