@import '../../stylings/variables';

footer {
    #logo, #contact, #socials {
        width: 70%;
        margin: 10px auto;
        img {
            display: block;
            width: 20%;
            max-width: 100px;
            margin: 0px auto;
        }

        ul {
            list-style: none;
            margin-left: -3ch;
            font-weight: 500;
        }
        a {
            color: $dark-grey;
        }
    }
    i {
        display: inline-block;
        margin-right: 1ch;
    }
}