<main>
    <h2>Vårt utbud av kurser</h2>

    <div id="filters">
        <label for="search">Sök:</label>
        <input type="text" [(ngModel)]="searchInput" (ngModelChange)="searchCourses()">
        <select name="subject" id="subject">
            <option value="">Välj ämne</option>

        </select>
        <h3>Sortera efter:</h3>
        <div>
            <span>Kursnamn:</span>
            <button (click)="nameAscending()">A-Ö</button>
            <button (click)="nameDescending()">Ö-A</button>
        </div>
        <div>
            <span>Kurskod:</span>
            <button (click)="codeAscending()">A-Ö</button>
            <button (click)="codeDescending()">Ö-A</button>
        </div>
        <div>
            <span>Antal poäng:</span>
            <button (click)="pointsAscending()">Lägst-Högst</button>
            <button (click)="pointsDescending()">Högst-Lägst</button>
        </div>
    </div>

    @if (courseList.length === 0) {
        <p>Vi kunde inte hitta några kurser..</p>
    }

    <ul *ngFor="let course of courseList">
        <li>
            <span> {{ course.courseCode }} - {{ course.level }} - {{course.points}} HP </span>
            <a href="{{ course.syllabus }}"> <h3>{{ course.courseName }}, {{ course.subject }}</h3></a>
            <button>Lägg till</button>
        </li>
    </ul>
</main>