$dark-grey: #141414;
$dark-purple: #732C5D;
$light-purple: lighten($dark-purple, 55%);
$off-white: #ede4ef;

// Fonts
$source-sans: "Source Sans 3", sans-serif;
$roboto: "Roboto", sans-serif;
$lora: "Lora", serif;