<main>
    <div id="bg-image">
        <div id="slogan-container">
            <p id="slogan">Framtiden skapas här <a routerLink="/courses"> VÅRA KURSER</a></p>
        </div>
    </div>
    <div id="info">
        <h2>Detta händer på campus</h2>
        <a href="">
            <img src="../../assets/images/bike.jpg" alt="Man on bike">
            <h3>Cykelfix - 20 Maj</h3>
            <p>
                Lär dig ta hand om din cykel! Smörja kedja, justera bromsar mm..
            </p>
        </a>
        <a href="">
            <img src="../../assets/images/trees.jpg" alt="Trees">
            <h3>Miljöföreläsning - 25 Maj</h3>
            <p>
                Vad är egentligen bäst för miljön? Lyssna på en föreläsning 
                om allt från mat till drivmedel.
            </p>
        </a>
        <a href="">
            <img src="../../assets/images/owl.jpg" alt="Plushy owl">
            <h3>Examensperiod - 3-7 Juni</h3>
            <p>
                Läs mer om vad som gäller för dig som 
                tar examen och dina anhöriga som vill vara på plats.
            </p>
        </a>
    </div>
</main>
